@charset "UTF-8";
/* CSS Document */

body {
	background-color:black;
}

#container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    border: 3px solid white;
    padding: 50px;
	width: 50%;
} 

#day, #daytime, #datum, #time {
	font-size: 6em;
	color: white;
	font-family: helvetica Neue;
	text-align: center;
}


